body {
   background-color:rgb(52, 61, 70);
   padding: 2em;
   font-family: ‘Raleway’,’Source Sans Pro’, ‘Arial’;
}
label {
   display:block;
   margin-bottom:10px;
}
input {
   padding:10px;
   width: 50%;
   margin-bottom: 1em;
}
button {
	margin: 2em 0;
	padding: 1em 4em;
	display:block;
	background-color: rgb(248,248,255);
}
h1 {
	color: rgb(248,248,255);
}

.container {
   width: 50%;
   margin: 0 auto;
}

#instructor {
   padding:1em;
   background-color:#fff;
   margin: 1em 0;
}